<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Adresse mail</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="drinkPreference">Quelle boisson préferez-vous ?</label>
            <select id="drinkPreference" class="form-control" formControlName="drinkPreference">
                <option value="Coca">Coca</option>
                <option value="Pepsi">Pepsi</option>
            </select>
        </div>
        <div formArrayName="hobbies">
            <h3>Vos hobbies</h3>
            <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls let i = index">
                <input type="text" class="form-control" [formControlName]="i">
            </div>
            <button type="button" class="btn btn-success" (click)="onAddHobby()">Ajouter un hobby</button>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Soumettre</button>
    </form>
</div>